name: Publish Nuget Package

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .Net SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x

      - name: Build
        run: dotnet build -c Release ./Nefarius.Utilities.ExceptionEnricher/Nefarius.Utilities.ExceptionEnricher.csproj

      - name: Make Nuget Packages
        run: dotnet pack -c Release ./Nefarius.Utilities.ExceptionEnricher/Nefarius.Utilities.ExceptionEnricher.csproj

      - name: Publish To Nuget
        run: dotnet nuget push ./Nefarius.Utilities.ExceptionEnricher/bin/*.nupkg -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_API_KEY }}
